<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="ircd" type="cmpctircd.Configuration.CmpctConfigurationSection,cmpctircd" />
    </configSections>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <ircd sid='auto' host='irc.cmpct.info' network='cmpct' description='The C# IRC Server'>
      <sockets>
        <socket type='Client' host='127.0.0.1' port='6667' tls='false'/>
        <!--
        <socket type='Client' host='127.0.0.1' port='6697' tls='true'/>
        <socket protocol="InspIRCd21" type='Server' host='127.0.0.1' port='9000' tls='false'/>
        <socket protocol="InspIRCd21" type='Server' host='127.0.0.1' port='9001' tls='true'/>
        -->
      </sockets>

      <!-- We need the TLS certificate to be stored in PFX format -->
      <!-- If you see a NotSupportedException, then this is a reminder to convert your certificate and key! -->
      <!-- https://security.stackexchange.com/a/29428 -->
      <!-- Simply convert using the following command: openssl pkcs12 -export -in ssl.cert -inkey private.key -out server.pfx -->
      <tls file='server.pfx' password=''/>

      <log>
        <!-- 'type' is for where the output should be directed: Stdout, File, IRC -->
        <!-- 'level' is minimum level of message to be output: Debug, Info, Warn, Error -->
        <logger type="Stdout" level="Info"/>
        <logger type="File" level="Warn" path="ircd.log"/>

        <!-- For IRC logs... -->
        <!-- 'modes' can be any valid mode string without arguments, e.g. modes="+nz" -->
        <!-- TODO: a recommended setting is modes="+nzO" once +O (oper-only) is implemented -->
        <!--
        <logger type="IRC"  level="Debug" channel="#debug" modes="+nz"/>
        -->
      </log>

      <advanced
        resolveHostnames="true"
        requirePongCookie="true"
        pingTimeout="120"
        maxTargets="200">

        <!-- Cloaking currently InspIRCd compatible.
          Please change the key to your own unique, random string.
          Prefix string used to mark cloaked hosts, can be anything.
          Domain parts specify how many parts of a host string to leave
          uncloaked.
          Mode can be half or full. Half will cloak only the unique
          portion of a host and leave parts of the domain or IP.
          Full will cloak the users host/IP completely.
          -->
        <cloak
          key="cmpct"
          prefix="cmpct"
          domainParts="3"
          full="false" />
      </advanced>

      <cmodes>
        <mode name='n' param=''/>
        <mode name='t' param=''/>
      </cmodes>

      <umodes>
        <mode name='x' param=''/>
        <mode name='i' param=''/>
      </umodes>

      <servers>
        <server type="InspIRCd21" host="irc2.cmpct.info" masks="*@127.0.0.1" port="9999" password="mypassword" tls='false' outbound='true' destination='127.0.0.1'/>
        <server type="InspIRCd21" host="services.cmpct.info" masks="*@127.0.0.1" port="9000" password="mypassword" tls='false'/>
      </servers>

      <!-- Default password is 'password', change it! -->
      <!-- Currently supported crypto hashes are sha256 -->
      <opers channels=''>
        <oper
          name='josh'
          password='5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8'
          algorithm='System.Security.Cryptography.SHA256Managed'
          tls='false'
          hosts='*@127.0.0.1'/>
      </opers>
    </ircd>
</configuration>
